
.header {
    padding-top: 15px;
}
  
.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    width: 300px;
    padding: 18px 38px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: rgb(0, 113, 154) 0%;
    border-radius: 70px;
}

/* Главный контейнер по центру */
.login-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* Заголовок */
  .login-title {
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  /* Поля */
  .login-input {
    width: 300px;
    padding: 16px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  /* Кнопка */
  .login-btn {
    width: 300px;
    padding: 16px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  