
/* Главный контейнер по центру */
.login-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Заголовок */
.login-title {
  font-size: 32px;
  margin-bottom: 10px;
}

/* Поля */
.login-input {
  width: 300px;
  padding: 16px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Кнопка */
.login-btn {
  width: 300px;
  padding: 16px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
