body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 140, 124, 1) 0%,
    rgba(0, 129, 209, 1) 100%
  );
}

.header {
  padding-top: 15px;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 665px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-title {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(
    90deg,
    rgba(0, 140, 124, 1) 0%,
    rgba(0, 129, 209, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-student-info {
  width: 342px;
  height: 383px;
  margin: 0 auto;
  border-radius: 40px;
  background: linear-gradient(
    180deg,
    rgba(0, 140, 124, 1) 0%,
    rgba(0, 129, 209, 1) 100%
  );
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
}

.student-top {
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-top: 25.5px;
  gap: 16px;
}

.studImg {
  width: 89px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
}

.student-name h2 {
  margin: 0;
  color: white;
}

.student-main-info {
  display: flex;
  flex-direction: column;
  width: 261px;
  height: 195px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  margin-top: 8px;
  margin-left: 27px;
  padding-left: 24px;
  padding-top: 8px;
  color: white;
  font-size: 14px;
}

.student-main-info p {
  margin: 3.5px 0; 
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25.5px;
  gap: 12px;
}

.btn {
  border: none;
  width: 300px;
  padding: 18px 38px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(0, 140, 124, 1) 0%,
    rgba(0, 129, 209, 1) 100%
  );
  border-radius: 70px;
}
